<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trumper</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
</head>
<script>var stompClient = null;
function connect() {
    var socket = new SockJS('/mysocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function(frame) {
        setConnected(true);
        console.log('Connected: ' + frame);
        stompClient.subscribe('/own_messages', function(post) {
            //showGreeting(JSON.parse(postMessage.body).text);
            alert('New News that MAGA!');
        });
    });
}
function sendMessage() {
    var message = document.getElementById('message').value;
    stompClient.send("/messages/addmessage", {}, JSON.stringify({'message' : text}));
}
function setConnected(connected) {
    document.getElementById('connect').disabled = connected;
    document.getElementById('disconnect').disabled = !connected;
    document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
    document.getElementById('response').innerHTML = '';
}

function disconnect() {
    if (stompClient != null)
        stompClient.disconnect();
    setConnected(false);
}</script>

<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Trumper.
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/user/} + ${loggedOn}" >Show my profile</a>
                        <a class="dropdown-item" th:text="'Logged on as ' + ${loggedOn}"></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">
                            <form class="form" th:action="@{/logout}" method="post">
                                <button type="submit" class="btn btn-error">Leave the US. (log out)</button>
                            </form>
                        </a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/own_messages">Switch to own news timeline</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/searchusers}" th:object="${querry}" th:method="post">
                <div class="form-group">
                    <label><input class="form-control mr-sm-2" type="text" th:field="*{text}" placeholder="Search for Great American Citizens.."/></label>
                </div>
                <button class="btn btn-default" name="Search" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
            </form>
            <!--
            <form class="form-inline my-2 my-lg-0" th:action="@{/searchusers}" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Who tf is.." aria-label="Search" th:object="${username}"/>
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span> Search</button>
            </form>
            -->
        </div>
    </header>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Global News Timeline</h2></div>

            <div class="panel-body">
                <form id="messages" class="form" th:action="@{/messages/addmessage}"
                      th:object="${message}" method="post">
                    <div class="form-group">
                        <label><input type="text" th:field="*{text}" placeholder="Write some news.."/></label>
                    </div>

                    <button type="submit" class="btn btn-primary">MAGA</button>
                </form>
            </div>


            <div class="panel panel-default" th:each="element : ${messages}">
                <div class="row">
                    <div class="col-8">
                        <div class="panel-heading"><h4 th:text="${element.autor}"></h4></div>
                        <div class="panel-body" th:text="${element.text}"></div>
                    </div>
                    <div class="col-4">
                        <div class="panel-footer" th:text="${element.timestamp}"></div>
                    </div>
                </div>

            </div>
            <!--
            <a href="#" title="Dismissible popover" data-toggle="popover"
               data-trigger="focus" data-content="You have news!">Popup-Test</a>
            <script>
                $(document).ready(function(){
                    $('[data-toggle="popover"]').popover();
                });
            </script>
            -->

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${current-1 > 0 ? '' : ' disabled'}">
                        <a class="page-link" th:href="@{/messages(page=${current}-1)}" aria-label="Previous">   <!-- ${current}-1 used to be ${param.page[0]}-1-->
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <!--needed to add the attribute "current" especially for this comparison, as ${} apparently is not allowed within: th:classappend="" -->
                    <li class="page-item" th:classappend="${i.intValue() == current.intValue() ? ' active' : ' '}" th:each="i : ${#numbers.sequence(1,size)}">
                        <a class="page-link" th:href="@{/messages(page=${i})}" th:text="${i}" ></a>
                    </li>

                    <li class="page-item" th:classappend="${size-1 > current-1 ? '' : ' disabled'}">
                        <a class="page-link" th:href="@{/messages(page=${current}+1)}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
    </div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>

</html>