<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trumper</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head -->
<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">

		<h3>Found Users</h3>

		<table class="table">
			<thead>
				<tr>
					<th>username</th>
					<th>follow status</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="element, iter : ${users}">
					<td th:text="${element.username}">Some name</td>
					<td th:text="${isFollowing[iter.index]}"></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>
